@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Slab:ital,wght@0,100;1,100&family=Oxygen:wght@300;400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

img {
  width: 100%;
}

#root {
  max-width: 1380px;
  margin: 0 auto;
  padding: 2rem 0;
  font-family: "Barlow", sans-serif;
}

body {
  background: rgb(15, 14, 16);
  background: linear-gradient(90deg, rgba(15, 14, 16, 1) 0%, rgba(23, 16, 31, 1) 100%);
  min-height: 100vh;
}

h1,
h2,
a {
  font-family: "Barlow Semi Condensed", sans-serif;
}

a {
  font-style: italic;
  color: #000;
  text-decoration: none;
  font-weight: 200;
}

h1 {
  letter-spacing: 3px;
  font-weight: 100;
}

h5 {
  text-transform: uppercase;
  font-weight: 400;
}

.card {
  background-color: #fff;
  box-shadow: 4px 4px 10px;
  border: none;
  border-radius: 0%;
}

.card-body {
  padding: 30px;
  min-height: 280px;
  display: grid;
}

.card-text {
  font-size: 0.9em;
  padding-top: 10px;
}

/* -------------- ANIMATIONS -------------- */
a:hover {
  color: #2c004f;
  font-weight: 400;
}

.card:hover {
  box-shadow: 2px 2px 15px #6b597a;
}
